.modal {
    position: fixed;
    z-index: 999999;
    background-color: rgba(255, 255, 255, .9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.2);
    opacity: 0;

    visibility: hidden;

    &-is-visible {
        transition: all .3s ease-in-out;
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }

    &-close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        color: $blue;
        transform: scaleX(1.2);
        font-weight: 700;

        &:hover {
            cursor: pointer;
            color: $darkBlue;
        }
    }

    &-inner {
        position: absolute;
        width: 100%;
        top: 10%;
    }
}
